.authed-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.gradient-text {
	background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.cta-button {
	height: 45px;
	border: 0;
	width: auto;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.connect-wallet-button {
	background: -webkit-linear-gradient(left, #60c657, #35aee2);
	background-size: 200% 200%;
	animation: gradient-animation 4s ease infinite;
}

.submit-tweet-button {
	background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
	background-size: 200% 200%;
	animation: gradient-animation 4s ease infinite;
	margin-left: 10px;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 20px;
	height: 50px;
}

.toast-wrap {
	display: contents;
	font-size: 0.73rem;
}

.toast-wrap :global(strong) {
	font-weight: 600;
}
